@model TaskHub.Web.Models.Tasks

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<html>
 <body>
	<div class="container">
		<ol class="breadcrumb">
		  <li><a href="#">Home</a></li>
		  <li><a href="@Url.Action("Index")">Tasks</a></li>
		  <li class="active"> @Html.DisplayFor(model => model.Title)</li>
		</ol>
	</div>
	<div class="container">
		<form class="form-horizontal form-centered" role="form">
  			<div class="form-group">
  				<label for="Title" class="col-sm-4 control-label"> @Html.DisplayNameFor(model => model.Title)</label>
				<div class="col-sm-8"> <label for="" class="control-label"> @Html.DisplayFor(model => model.Title)</label> </div>
  			</div>
  			<div class="form-group">
  				<label for="txtStatus" class="col-sm-4 control-label"> @Html.DisplayNameFor(model => model.Status)</label>
  				<div class="col-sm-8">
  				<input type="text" id="txtStatus" class="form-control" value="@Html.DisplayFor(model => model.Status)" /></div>
  			</div>
  			<div class="form-group">
  				<label for="txtPriority" class="control-label col-sm-4">@Html.DisplayNameFor(model => model.Priority)</label>
  				<div class="col-sm-8">
  				<input type="text" id="txtPriority" class="form-control" value="@Html.DisplayFor(model => model.Priority)"/> </div>	
  				</div>
  			
         <div class="form-group">
  				<label for="txtDuedate" class="control-label col-sm-4"> @Html.DisplayNameFor(model => model.DueDate)</label>
  				<div class="col-sm-8">
  				<!--	<div class="input-append date" id="dduedate" data-date="@Html.DisplayFor(model => model.DueDate)" data-date-format="dd-mm-yyyy"></div>-->
  					<input type="text" class="form-control" id="txtDuedate" value="@Html.DisplayFor(model => model.DueDate)"/>
      			</div>
  			</div>
  			<div class="form-group">
  				<label for="txtAssignedTo" class="control-label col-sm-4">@Html.DisplayNameFor(model => model.AssignedTo)</label>
  				<div class="col-sm-8">
  					<input type="text" id="txtAssignedTo" class="form-control" value="@Html.DisplayFor(model => model.AssignedUser.UserName)"/> </div>
  				</div>
  			
        <div class="form-group">
  				<label for="txtRequestedby" class="control-label col-sm-4">@Html.DisplayNameFor(model => model.RequestedBy)</label>
  				<div class="col-sm-8">
  					<input type="text" id="txtRequestedby" class="form-control" value="@Html.DisplayFor(model => model.RequestedUser.UserName)"/> </div>
  				</div>
            <div class="form-group">
  				<label for="txtCreatedDate" class="control-label col-sm-4">@Html.HiddenFor(model => model.CreatedDate)</label>
  				<div class="col-sm-8">
  					@Html.HiddenFor(model => model.CreatedDate) </div>
  				</div>
  				
	</form>
        
        </body>
    </html>
@using (Html.BeginForm()) {
    <p>
        <div class="col-sm-8">
        <input type="submit" value="Delete" class="pull-right btn btn-danger btnEdit" />
            
            
                     @Html.ActionLink("Back to List", "Index", new { Controller = "Tasks" }, new { @class = "pull-right btn btn-info btnBacktolist" })
            </div>
    </p>
}
